<header class="header">
  <div class="header-container">

    <a routerLink="/" class="logo">
      postfolio
    </a>

    <!-- Navegação -->
    <nav class="nav">
      <a routerLink="/explorar" routerLinkActive="active">Explorar</a>
      <a routerLink="/competicoes" routerLinkActive="active">Competições</a>
      @if (isLogged()) {
        <a routerLink="/salvos" routerLinkActive="active">Salvos</a>
      }
      <a routerLink="/sobre" routerLinkActive="active">Sobre</a>

      @if (isLogged() && user()?.usertype === 'ADMIN') {
        <a routerLink="/admin" routerLinkActive="active">Administração</a>
      }
    </nav>

    <!-- Ações -->
    <div class="actions">

      <!-- Não logado -->
      @if (!isLogged()) {
        <!-- <button class="btn ghost" (click)="login()">Entrar</button> -->

        <a routerLink="/auth/login" class="btn ghost">Entrar</a>
        <a routerLink="/auth/registro" class="btn primary">Criar Conta</a>
      }

      <!-- Logado -->
      @if (isLogged()) {
        <button class="btn primary create-post" (click)="goToAddProject()">
          <span class="plus">+</span>
        </button>

        <div class="user" (click)="goToProfile()">
          <div class="avatar">
            {{ user()?.username?.charAt(0) }}
          </div>

          <span class="username">
            {{ user()?.username }}
          </span>

          <button mat-icon-button class="logout-btn" (click)="logout()">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      }

    </div>
  </div>
</header>
